<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <title>fastBURGERS®</title>
</head>

<body>
    <div django-app="CouponsList">
        <header>
            <div class="bg-dark collapse" id="navbarHeader">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-7 py-4">
                            <h4 class="text-white">Sobre</h4>
                            <p class="text-muted">Fundado em 1954, o fastBURGERS® é a segunda maior rede de hambúrgueres
                                do
                                mundo. Lar original do WHOPPER®, possui mais de 15 mil lojas, servindo mais de 11
                                milhões de
                                consumidores por dia em mais de 100 países ao redor do mundo. Aproximadamente 90% dos
                                restaurantes fastBURGERS® pertencem e são operados por franquias independentes, muitas
                                delas
                                administradas por empresas familiares que estão no ramo há décadas.</p>
                        </div>
                        <div class="col-sm-4 offset-md-1 py-4">
                            <h4 class="text-white">My fastBURGERS</h4>
                            <ul class="list-unstyled">
                                {% if not request.user.is_authenticated %}
                                <li><a href="{% url 'do_login' %}" class="text-white">Login</a></li>
                                <li><a href="{% url 'index' %}" class="text-white">Home</a></li>
                                {% endif %}
                                {% if request.user.is_authenticated %}
                                <li style="color: #fff;">Olá, {{ request.user.username }}</li>
                                <li><a href="{% url 'index' %}" class="text-white">Home</a></li>
                                <li><a href="{% url 'favorites' %}" class="text-white">MyfastBurgers</a></li>
                                <li><a href="{% url 'do_logout' %}" class="text-white">Logout</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container d-flex justify-content-between">
                    <a href="#" class="navbar-brand d-flex align-items-center">
                        <span>fast</span>
                        <strong>Burgers</strong>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                        aria-controls="navbarHeader" aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </header>
        <main role="main">

            <section class="jumbotron text-center" style="background-color: #fff;">
                <div class="text-center" style="margin-bottom: 40px;">
                    <img src="{% static 'images/logo-bk-cupons.png' %}" alt="Logo">
                </div>
                <div class="container">
                    <p>
                        <button class="btn btn-secondary my-2" type="button" data-toggle="collapse"
                            data-target="#filters-section" aria-expanded="false" aria-controls="collapseExample">
                            Filtro Avançado
                        </button>
                    </p>
                    <div class="collapse" id="filters-section">
                        <div class="card card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="categories">Categorias</label>
                                    <select class="form-control" id="categories" name="select-categories">
                                        <option value="CARNE" name="Hambúrgueres de Carne">Hambúrgueres de Carne
                                        </option>
                                        <option value="FRANGO" name="Hambúrgueres de Frango">Hambúrgueres de Frango
                                        </option>
                                        <option value="VEGETARIANO" name="Vegetarianos">Vegetarianos</option>
                                        <option value="ACOMPANHAMENTO" name="Acompanhamentos">Acompanhamentos</option>
                                        <option value="SOBREMESA" name="Sobremesas">Sobremesas</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="stores">Lojas</label>
                                    <select class="form-control" id="stores" name="select-stores">
                                        {% for store in stores %}
                                        <option value="{{ store.id }}" name="{{ store.name }}">
                                            {{ store.name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="price-range">Faixa de Preço</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">R$</span>
                                            <span id="selected-price" class="input-group-text">0.00</span>
                                        </div>
                                        <input type="range" class="custom-range" min="0" max="50" name="price-range"
                                            id="price-range">
                                    </div>
                                </div>
                                <p>
                                    <button class="btn btn-secondary my-2" type="submit" name="filter-task">
                                        Aplicar
                                    </button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="text-center" style="margin-bottom: 60px;">
                        <img src="{% static 'images/highlight.png' %}" alt="Em destaques">
                    </div>
                    <div class="row">
                        {% for special_coupon in specials %}
                        <!-- django template lang - for loop -->
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top"
                                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                    alt="{{ special_coupon.title }}" src="{{ special_coupon.product.image_url }}"
                                    data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                                <div class="card-body">
                                    <p class="card-text">
                                        {{ special_coupon.title }}
                                        <span class="badge badge-danger">Destaque!</span>
                                    </p>
                                    <p class="card-text">{{ special_coupon.product.category }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{% url 'coupon' special_coupon.id %}"
                                                class="btn btn-sm btn-outline-secondary">Ver</a>
                                        </div>
                                        <small class="text-muted">R$ {{ special_coupon.price }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="container">
                    <div class="text-center" style="margin-bottom: 60px; margin-top: 60px;">
                        <img src="{% static 'images/all-offers.png' %}" alt="Todas as ofertas">
                    </div>
                    <div class="row">
                        {% for coupon in all %}
                        <!-- django template lang - for loop -->
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top"
                                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                    alt="{{ coupon.title }}" src="{{ coupon.product.image_url }}"
                                    data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                                <div class="card-body">
                                    <p class="card-text">{{ coupon.title }}</p>
                                    <p class="card-text">{{ coupon.product.category }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{% url 'coupon' coupon.id %}"
                                                class="btn btn-sm btn-outline-secondary">Ver</a>
                                        </div>
                                        <small class="text-muted">R$ {{ coupon.price }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>

        <footer class="text-muted" style="padding-bottom: 3rem; padding-top: 3rem;">
            <div class="container">
                <p class="float-right">
                    <a href="#">Voltar ao topo</a>
                </p>
                <p>© fastBURGERS</p>
            </div>
        </footer>
    </div>
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script>
        $("#selected-price").text($("#price-range").val());
        $("#price-range").change(function () {
            $("#selected-price").text($("#price-range").val());
        });
    </script>
</body>

</html>